@charset "utf-8";
body {
	background-color: #42413C;
	margin: 0;
	padding: 0;
	color: #362305;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.4;
	background-image: url(../images/mainbackground.gif);
	background-repeat: repeat;
	background-position: left top;
}
.product {
	color:#0015fc;
	font-size:15;
	font-weight:bold;
	text-decoration:underline;
}
/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a {
	color: #000000;
	font-size:16px;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:link {
	color: #000000;
	font-size:16px;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #000000;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}
p {
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.swa {
	color:#ffffff;
}

.swa2 {
	color:#b68447;
}

.mlg {
	color:#677802;
}

.mlg2 {
	color:#5c9225;
}

.rotate2 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background-color:#FFFFFF;
		padding:5px;
		border:#000000 solid 1px;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* ~~ this fixed width container surrounds all other elements ~~ */
.container {
	width: 800px;
	background-color: #FFF; /* the auto value on the sides, coupled with the width, centers the layout */
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	padding: 10px;
	font-size:18px;
	border:#98ad1b solid 1px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
}

/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/
.content {

	padding: 10px 0;
	font-size:18px;
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the overflow:hidden on the .container is removed */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
/* buttons */
	form input[type="button"], form input[type="submit"], form input[type="reset"]{  
		text-align:center;
		display:inline-block !important;
		font-size:13px;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight:bold;
		line-height:100%;
		position:relative; 
		text-decoration:none; 
		border:0;
		padding-bottom:5px;
		padding-top:5px;
		padding-left:15px;
		padding-right:15px;
		cursor:pointer;  
		background: #bdbdbd;
		border: solid 1px #004910 !important;
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#D8D8D8');   
		background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#D8D8D8));  
		background: -moz-linear-gradient(top,  #F7F7F7, #D8D8D8);  
		border-color: #D8D8D8 #CBCBCB #B2B2B2;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
		border-radius:8px;
		color: #004910 !important;
		text-shadow: 0 1px 0 #F4F4F4;
		-webkit-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #fff;
		-moz-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #fff;
		box-shadow: 0px 1px 2px #D1D1D1, inset 0 1px 0 #fff !important; 
	}
	
	form input[type="button"]:hover, form input[type="submit"]:hover, form input[type="reset"]:hover{
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#D8D8D8');  
		background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#D8D8D8));  
		background: -moz-linear-gradient(top,   #D8D8D8, #F7F7F7);  
		border-color: #D8D8D8 #CBCBCB #B2B2B2;  
	}
	
	fieldset {
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal;
		padding-left:10px;
		padding-right:10px;
		padding-top:3px;
		padding-bottom:3px; 
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
		border-radius:8px;
		color:#000000;
		background:#d8c785;
		border:1px solid #8b8b8b;
		border: solid 1px #004910 !important;					
	}
	
	legend {
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:bold;
		padding-left:10px;
		padding-right:10px;
		padding-top:5px;
		padding-bottom:5px; 
		color:#000000;
		background:#ffffff;
		border:1px solid #161a46;
		-moz-border-radius:7px;
		-webkit-border-radius:7px;
		border-radius:7px;
		text-transform:capitalize;					
	}
	
	input, select, file, textarea {
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:13px;    
		position:relative;
		outline: none;
		padding:5px; 
		-moz-border-radius:1px;
		-webkit-border-radius:1px;
		border-radius:1px; 
		color:#323746;
		background:#ffffff;
		border: solid 1px #004910 !important;
		border-color: #D8D8D8 #CBCBCB #B2B2B2;
		-webkit-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #fff;
		-moz-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #fff;
		box-shadow: 0px 1px 2px #D1D1D1, inset 0 1px 0 #fff !important;  					
	}
	
	.h2_refresh {
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:bold;
		padding-top:2px;
		padding-bottom:2px;  
		color:#ffffff;
		background:#161a46;
		border:1px solid #8b8b8b;	 					
	}
	
	.h3_refresh {
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:bold;
		padding-top:2px;
		padding-bottom:2px;  
		color:#ffffff;	 					
	}
	
	.tblBorder {
		border:#232b81 solid 1px;
		padding:10px;
	}
	
	.tbl {
		background-color:#FFFFFF;
		padding:5px;
		border:#000000 solid 1px;
	}
	
	.tblQO {
		background-color:#FFFFFF;
		padding:5px;
		border:#000000 solid 1px;
		text-align:center;
		width:80px;
	}
	
	.tblR {
		background-color:#FFFFFF;
		padding-top:3px;
		padding-bottom:3px;
		padding-left:5px;
		padding-right:5px;
		border:#000000 solid 1px;
	}
	
	.tblRB {
		background-color:#e5e2b5;
		padding-top:3px;
		padding-bottom:3px;
		padding-left:5px;
		padding-right:5px;
		border:#000000 solid 1px;
	}
	.instr {
	font-size: 14px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}