@charset "utf-8";
body {
	background-color: #42413C;
	margin: 0;
	padding: 0;
	color: #362305;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.4;
	background-image: url(../images/mainbackground.gif);
	background-repeat: repeat;
	background-position: left top;
}
/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a {
	color: #000000;
	font-size:16px;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:link {
	color: #000000;
	font-size:16px;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #000000;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}
p {
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* ~~ Top Container Element ~~ */
#top {
	background-color: #FFFFFF; /* the auto value on the sides, coupled with the width, centers the layout */
	color:#5a6200;
	margin-bottom: 10;
	padding: 5px;
	font-size:25px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	height:70px;
	text-transform:uppercase;
}

#bottom {
	padding: 15px;
}

#content {
	background-color: #ffffff; /* the auto value on the sides, coupled with the width, centers the layout */
	border:#583333 solid 1px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	color:#583333;
	margin:20px;
	padding: 20px;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;	
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}

.fltlt { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}

.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the overflow:hidden on the .container is removed */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

/* buttons */
	form input[type="button"], form input[type="submit"], form input[type="reset"]{  
		text-align:center;
		display:inline-block !important;
		font-size:13px;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight:bold;
		line-height:100%;
		position:relative; 
		text-decoration:none; 
		border:0;
		padding:5px;
		cursor:pointer;  
		background: #bdbdbd;
		border: solid 1px #004910 !important;
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#D8D8D8');   
		background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#D8D8D8));  
		background: -moz-linear-gradient(top,  #F7F7F7, #D8D8D8);  
		border-color: #D8D8D8 #CBCBCB #B2B2B2;
		color: #004910 !important;
		text-shadow: 0 1px 0 #F4F4F4;
		-webkit-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #fff;
		-moz-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #fff;
		box-shadow: 0px 1px 2px #D1D1D1, inset 0 1px 0 #fff !important; 
	}
	
	form input[type="button"]:hover, form input[type="submit"]:hover, form input[type="reset"]:hover{
		filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7F7F7', endColorstr='#D8D8D8');  
		background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#D8D8D8));  
		background: -moz-linear-gradient(top,   #D8D8D8, #F7F7F7);  
		border-color: #D8D8D8 #CBCBCB #B2B2B2;  
	}
	
	fieldset {
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal;
		padding-left:10px;
		padding-right:10px;
		padding-top:3px;
		padding-bottom:3px; 
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		border-radius:1px; 
		color:#000000;
		background:#98ad1b;
		border:1px solid #8b8b8b;
		border: solid 1px #004910 !important;					
	}
	
	legend {
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:bold;
		padding-left:5px;
		padding-right:5px;
		padding-top:3px;
		padding-bottom:3px; 
		color:#000000;
		background:#ffffff;
		border:1px solid #161a46;
		text-transform:capitalize;					
	}
	
	input, select, file, textarea {
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:13px;    
		position:relative;
		outline: none;
		padding:5px; 
		-moz-border-radius:1px;
		-webkit-border-radius:1px;
		border-radius:1px; 
		color:#323746;
		background:#ffffff;
		border: solid 1px #004910 !important;
		border-color: #D8D8D8 #CBCBCB #B2B2B2;
		-webkit-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #fff;
		-moz-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #fff;
		box-shadow: 0px 1px 2px #D1D1D1, inset 0 1px 0 #fff !important;  					
	}
	
	.h2_refresh {
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:bold;
		padding-top:2px;
		padding-bottom:2px;  
		color:#ffffff;
		background:#161a46;
		border:1px solid #8b8b8b;	 					
	}
	
	.h3_refresh {
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:bold;
		padding-top:2px;
		padding-bottom:2px;  
		color:#ffffff;	 					
	}
	
	.tblBorder {
		border:#232b81 solid 1px;
		text-align:center;
	}
	
	.tbl {
		background-color:#4a452a;
		color:#FFFFFF;
		border:#000000 solid 1px;
	}
	
	.tblQO {
		background-color:#0070c0;
		color:#FFFFFF;
		text-align:center;
		font-size:18px;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight:bold;
	}
	
	.tbl1a {
		background-color:#fac090;
	}
	.tbl1b {
		background-color:#a15b21;
		color:#FFFFFF;
	}
	
	.tbl2b {
		background-color:#99ff33;
		text-align:center;
	}
	.tbl2a {
		background-color:#3e7804;
		color:#FFFFFF;
		text-align:center;
	}
	
	.tbl3a {
		background-color:#ff9136;
		color:#000000;
		text-align:center;
	}
	.tbl3b {
		background-color:#cc5c00;
		color:#FFFFFF;
		text-align:center;
	}
	
	.tbl4b {
		background-color:#3e7804;
		color:#FFFFFF;
		text-align:center;
	}
	
	.tbl5b {
		background-color:#ff9136;
		color:#000000;
		text-align:center;
	}
	
	.totals {
		background-color:#0070c0;
		color:#FFFFFF;
		text-align:center;
		font-size:40px;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-weight:bold;
	}
	
	.totaltarg1 {
		background-color:#fac090;
		color:#000000;
		text-align:center;
		font-size:46px;
		font-weight:bold;
	}
	.totaltarg2 {
		background-color:#a15b21;
		color:#FFFFFF;
		text-align:center;
		font-size:46px;
		font-weight:bold;
	}
	
	.totalach1 {
		background-color:#99ff33;
		text-align:center;
		font-size:46px;
		font-weight:bold;
	}
	.totalach2 {
		background-color:#3e7804;
		color:#FFFFFF;
		text-align:center;
		font-size:46px;
		font-weight:bold;
	}

	.totalbal1 {
		background-color:#ff9136;
		color:#000000;
		text-align:center;
		font-size:46px;
		font-weight:bold;
	}
	.totalbal2 {
		background-color:#cc5c00;
		color:#FFFFFF;
		text-align:center;
		font-size:46px;
		font-weight:bold;
	}
	
	.totalperc2 {
		background-color:#99ff33;
		text-align:center;
		font-size:46px;
		font-weight:bold;
	}
	.totalperc1 {
		background-color:#3e7804;
		color:#FFFFFF;
		text-align:center;
		font-size:46px;
		font-weight:bold;
	}
	
	.tblRB {
		background-color:#e5e2b5;
		padding-top:3px;
		padding-bottom:3px;
		padding-left:5px;
		padding-right:5px;
		border:#000000 solid 1px;
	}
	
	.instr {
	font-size: 14px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}